<table>
    <tr>
        <td>        
            <mat-form-field>
                <mat-label>[毛]</mat-label>
                <mat-select [(ngModel)]="comboOrderDetail.materialID" name="material">
                  <mat-option *ngFor="let material of this.materialYarns$ | async"
                   [value]="material.id" >
                    {{ material.threadCount + " " 
                    + (material.material !== undefined ? material.material.name : "") + " " 
                    + (material.supplier !== undefined ? material.supplier.englishName : "") + " "
                    + "(" + (material.supplierUnitPrice !== undefined ? material.supplierUnitPrice.toString() : "") +")" }}
                  </mat-option>
                </mat-select>
            </mat-form-field>
        </td>
    </tr>
    <tr>
        <td>
            <mat-label>[毛] {{ getSelectedMaterialName() }}</mat-label>
        </td>
    </tr>
    <tr>
        <td>
            <!--ColorNo-->
            <mat-label>[色]</mat-label>
            <input
            [ngStyle]="{width:'100px'}" 
            type="text" [(ngModel)] ="comboOrderDetail.colorNo">
            <button (click)="onToggleColorNo()">{{ pendingButtonName }}</button>
        </td>
    </tr>
    <tr>
        <td>
            <!--ChineseColorName-->
            <mat-label>[中]</mat-label>
            <input
            [ngClass]="{'text-color-normal':true}"
            type="text" [(ngModel)] ="comboOrderDetail.chineseColorName">
        </td>
    </tr>
    <tr>
        <td>
            <!--ColorEnglishName-->
            <mat-label>[英]</mat-label>
            <input 
            [ngClass]="{'text-color-normal':true}"
            type="text" [(ngModel)] ="comboOrderDetail.englishColorName">
        </td>
    </tr>
    <tr>
        <td>
            <!--ColorRemark-->
            <mat-label>備註</mat-label>
            <input 
            [ngClass]="{'text-color-normal':true}"
            type="text" [(ngModel)] ="comboOrderDetail.remark">
        </td>
    </tr>
    <app-weight-control 
        [orderIndexId]="comboOrderDetail.orderID"
        [comboIndexId]="comboOrderDetail.comboID">
    </app-weight-control >
    <!-- p.s. MatCalType:{{matCalType | async}} -->
</table>