<div class="row">
   <div class="col-sm-1 col-lg-1" width=50>{{index+1}}<button class=sbttn name=DelMat (click)="onDeleteMatYarn(index)">-</button>
      <INPUT maxLength=2 size=1 
      value={{itemMaterialYarn.threadCount}} 
      (change)="onThreadCountInputted($event.target.value)" 
      name=MainWoolQty_{{index+1}}>
   </div>
   <div class="col-sm-4 col-lg-3">
      <app-autocomplete-material-dropdown
         [materialValue]="itemMaterialYarn.material"
         (materialSelected)="onMaterialSelected($event)">
      </app-autocomplete-material-dropdown>
   </div>
   <div class="col-sm-2 col-lg-2">
      <app-autocomplete-supplier-dropdown
         [supplierValue]="itemMaterialYarn.supplier"
         (supplierSelected)="onSupplierSelected($event)">
      </app-autocomplete-supplier-dropdown>
      </div>
   <div class="col-sm-2 col-lg-1">
      <app-autocomplete-article-dropdown
         [articleValue]="itemMaterialYarn.article"
         (articleInputted)="onArticleInputted($event)">
      </app-autocomplete-article-dropdown>
   </div>
   <div class="col-sm-2 col-lg-1">
      <INPUT type=text maxLength=25 name=MatRemark_{{index+1}} 
      value={{itemMaterialYarn.remark}} 
      (change)="onRemarkInputted($event.target.value)" 
      style="width:100%;">
      <BR>
      <FONT color=red size=1>*只顯示首14個字母</FONT>
   </div>
   <div class="col-sm-3 col-lg-2">
      <TABLE>
         <TBODY>
         <TR>
            <TD>
               <!--
               <SELECT (change)="onSupplierCurrIDUpdate($event.target.value)">
                  <option *ngFor="let currency of currencyList" [value]="currency.id" name="ShipmentCurrency">
                     {{ currency.name }}
                  </option>
               </SELECT>
               -->

               <select name="SupplierCurrID" 
               class="curr-id-section"
               [(ngModel)]="itemMaterialYarn.supplierCurrID"
               (selectionChange)="onSupplierCurrIDUpdate(itemMaterialYarn.supplierCurrID)">
               <option *ngFor="let currency of currencyList" [value]="currency.id">
                  {{ currency.name }}
               </option>
               </select>

               $<INPUT type="text" size=4 
               value={{itemMaterialYarn.supplierUnitPrice}} 
               name=Wool_unitprice_{{index+1}} 
               (change)="onSupplierPriceUpdate($event.target.value)" >
            </TD>
         </TR>
         <TR>
            <TD>
               <!--
               <label for="lbs">/LBS</label><INPUT type=radio [value]=0 name="itemMaterialYarn.supplierWeightType"
               [(ngModel)]='itemMaterialYarn.supplierWeightType'
               (click)="onSupplierWeightTypeUpdate(0)" 
               (change)="onSupplierWeightTypeChange(0)">
               <label for="kg">/KG</label><INPUT type=radio [value]=1 name="itemMaterialYarn.supplierWeightType"
               [(ngModel)]='itemMaterialYarn.supplierWeightType'
               (click)="onSupplierWeightTypeUpdate(1)" 
               (change)="onSupplierWeightTypeChange(1)">
               -->
               
               <mat-radio-group [(ngModel)]="itemMaterialYarn.supplierWeightType" aria-label="Select an option">
                  <mat-radio-button value="1">/LBS</mat-radio-button>&nbsp;
                  <mat-radio-button value="2">/KG</mat-radio-button>
               </mat-radio-group>               
            </TD>
         </TR>
         <TR><TD><INPUT CHECKED type=checkbox value=1 name=Wool_final_price_{{index+1}}
            (change)="onFinalPriceCheckBoxUpdate($event.target.value)" > Final Price</TD></TR>
         </TBODY>
      </TABLE>
      <TABLE>
         <TBODY>
         <tr>
            <td>
               <mat-form-field>
                  <mat-label>運輸方法</mat-label>
                  <mat-select name="ShipmentMethod" 
                  [(ngModel)]="itemMaterialYarn.supplierTransportTypeId"
                  (selectionChange)="onTransportMethodUpdate(itemMaterialYarn.supplierTransportTypeId)">
                  <mat-option *ngFor="let shipmentMethod of shipmentMethods" [value]="shipmentMethod.id">
                     {{ shipmentMethod.name }}
                  </mat-option>
                  </mat-select>
               </mat-form-field>
            </td>
         </tr>
         </TBODY>
      </TABLE>
      <TABLE>
         <TBODY>
            <TR>
               <TD></TD>
               <TD>
                  <BUTTON class=sbttn name=CopyMat_{{index+1}} 
                  (click)="onCopyMatYarn(index)">
                  另一單價
                  </BUTTON>
               </TD>
            </TR>
         </TBODY>
      </TABLE>
   </div>
   <div class="col-sm-3 col-lg-1">
      <TABLE>
         <TBODY>
            <TR>
               <TD style="display:block">
               <!--
               <SELECT (change)="onBuyerCurrIDUpdate($event.target.value)">
                  <option *ngFor="let currency of currencyList" [value]="currency.id" name="ShipmentCurrency">
                     {{ currency.name }}
                  </option>
               </SELECT>
               -->

               <select name="BuyerCurrID" 
               class="curr-id-section"
               [(ngModel)]="itemMaterialYarn.buyerCurrID"
               (selectionChange)="onBuyerCurrIDUpdate(itemMaterialYarn.buyerCurrID)">
               <option *ngFor="let currency of currencyList" [value]="currency.id">
                  {{ currency.name }}
               </option>
               </select>
                  $<INPUT size=4 
                  value={{itemMaterialYarn.buyerUnitPrice}} 
                  name=Wool_buyer_unitprice_{{index+1}} 
                  (change)="onBuyerPriceUpdate($event.target.value)">
               </TD>
            </TR>
            <TR>
               <TD>
                  <!--
                  <label for="lbs">/LBS</label><INPUT type=radio [value]=0 name="itemMaterialYarn.supplierWeightType"
                  [(ngModel)]='itemMaterialYarn.buyerWeightType'
                  (click)="onBuyerWeightTypeUpdate(0)" 
                  (change)="onBuyerWeightTypeChange(0)">
                  <label for="kg">/KG</label><INPUT type=radio [value]=1 name="itemMaterialYarn.supplierWeightType"
                  [(ngModel)]='itemMaterialYarn.buyerWeightType'
                   (click)="onBuyerWeightTypeUpdate(1)" 
                   (change)="onBuyerWeightTypeChange(1)">
                  -->
                  
                   <mat-radio-group [(ngModel)]="itemMaterialYarn.buyerWeightType" aria-label="Select an option">
                     <mat-radio-button value="1">/LBS</mat-radio-button>&nbsp;
                     <mat-radio-button value="2">/KG</mat-radio-button>
                  </mat-radio-group>                  
               </TD>
            </TR>
         </TBODY>
      </TABLE>
   </div>
</div>