<div class="row">
    <div class="col-sm-1 col-lg-1" width=50>{{index+1}}<button class=sbttn name=DelMat (click)="onDeleteMatYarn(index)">-</button>
        <INPUT maxLength=2 size=1 value=0 name=MainWoolQty_4></div>
    <div class="col-sm-4 col-lg-3">
      <app-autocomplete-material-dropdown></app-autocomplete-material-dropdown>
    </div>
    <div class="col-sm-2 col-lg-2">
       <app-autocomplete-supplier-dropdown></app-autocomplete-supplier-dropdown>
       </div>
    <div class="col-sm-2 col-lg-1">
       <app-autocomplete-article-dropdown></app-autocomplete-article-dropdown>
    </div>
    <div class="col-sm-2 col-lg-1"><INPUT maxLength=25 name=MatRemark style="width:100%;" ><BR><FONT color=red size=1>*只顯示首14個字母</FONT></div>
    <div class="col-sm-3 col-lg-2">
       <TABLE>
          <TBODY>
            <TR>
               <TD>
                  <SELECT>
                     <option *ngFor="let currency of currencyList" [value]="currency.id" name="ShipmentCurrency">
                        {{ currency.name }}
                     </option>
                  </SELECT>
                  $<INPUT size=4 value=0 name=Wool_unitprice_{{index+1}}>
               </TD>
               <TD>/LBS<INPUT CHECKED type=radio value=C43224E2-96AA-4F80-AFE2-6FB6CF787E74 name=Wool_unit_{{index+1}}>/KG<INPUT type=radio value=5785DD5B-A61E-41A0-9E1B-C22FB4CF6803 name=Wool_unit_{{index+1}}></TD>
            </TR>
            <TR><TD><INPUT CHECKED type=checkbox value=1 name=Wool_final_price_{{index+1}}> Final Price</TD></TR>
          </TBODY>
       </TABLE>
       <TABLE>
          <TBODY>
            <tr>
               <td>
                 <mat-form-field>
                    <mat-label>運輸方法</mat-label>
                    <mat-select name="ShipmentMethod">
                    <mat-option *ngFor="let shipmentMethod of shipmentMethods" [value]="shipmentMethod.id">
                       {{ shipmentMethod.name }}
                    </mat-option>
                    </mat-select>
                 </mat-form-field>
              </td>
           </tr>
          </TBODY>
       </TABLE>
       <TABLE>
          <TBODY>
             <TR>
                <TD></TD>
                <TD><BUTTON class=sbttn name=CopyMat>另一單價</BUTTON></TD>
             </TR>
          </TBODY>
       </TABLE>
    </div>
    <div class="col-sm-3 col-lg-1">
       <TABLE>
          <TBODY>
             <TR>
                <TD>
                  <SELECT>
                     <option *ngFor="let currency of currencyList" [value]="currency.id" name="ShipmentCurrency">
                        {{ currency.name }}
                     </option>
                  </SELECT>
                   $<INPUT size=4 value=0 name=Wool_buyer_unitprice_1>
                </TD>
                <TD>/LBS<INPUT CHECKED type=radio value=C43224E2-96AA-4F80-AFE2-6FB6CF787E74 name=Wool_buyer_unit_{{index+1}}>/KG<INPUT type=radio value=5785DD5B-A61E-41A0-9E1B-C22FB4CF6803 name=Wool_buyer_unit_{{index+1}}></TD>
                <TD><INPUT size=3 type=hidden value=3 name=Wool_buyer_condprice_1></TD>
             </TR>
          </TBODY>
       </TABLE>
    </div>
</div>