<div class="container-fluid" cellSpacing=1 cellPadding=0 border=0>
    <div class="row">
        <div class="col-sm-1 col-lg-1">&nbsp;條數</div>
        <div class="col-sm-4 col-lg-3">毛質</div>
        <div class="col-sm-2 col-lg-2">供應商</div>
        <div class="col-sm-2 col-lg-1">Article</div>
        <div class="col-sm-2 col-lg-1">備注</div>
        <div class="col-sm-3 col-lg-2">毛商單價</div>
        <div class="col-sm-3 col-lg-1">客人單價<FONT color=yellow>(optional)</FONT></div>
    </div>
    <app-material-yarn-item 
    *ngFor="let matYarn of (materialYarns | async); let i=index"
        [index]="i"
        [materialYarn]="matYarn" 
        (result)="matYarnUpdated($event)" 
        (matYarnItemUpdated)="onMatYarnInfoUpdated($event)"
    ></app-material-yarn-item>    
    <div class="col-md-2">
        <button mat-raised-button (click)="matYarnAdded(-1)">新增毛質</button>
    </div>
</div>
