
<div *ngIf="((((matCalType | async) == MatCalType.None || (matCalType | async) == MatCalType.SizingOnly) && comboIndexId == -1) 
            || (((matCalType | async) == MatCalType.ColorComboOnly || (matCalType | async) == MatCalType.ColorComboSizing) && comboIndexId != -1))">            
    <div *ngIf="((matCalType | async) == MatCalType.None 
                ||(matCalType | async) == MatCalType.ColorComboOnly)">
        <table>
            <tr>
                <th>安士/件</th>
                <th>損耗</th>
            </tr>
            <tr>
                <td><INPUT size=5></td>
                <td><INPUT size=5>%</td>
            </tr>
        </table>
    </div>

    <div *ngIf="(((matCalType | async) == MatCalType.SizingOnly 
                ||(matCalType | async) == MatCalType.ColorComboSizing)
                && (sizeItems | async).length != 0)">
        <table>
            <tr>
                <th width=5>&nbsp;</th>
                <th>安士/件</th>
                <th>損耗</th>
            </tr>
            <tr *ngFor="let sizeItem of (sizeItems|async)">
                <td>{{(sizeItem.size==undefined)?"NEW":sizeItem.size.name}}</td>
                <td><INPUT size=5></td>
                <td><INPUT size=5>%</td>
            </tr>
        </table>
    </div>
</div>