<h5>Yarn Order</h5>

<app-alert></app-alert>

<div class="shadow-sm p-2 mb-3 bg-white rounded">
    <b>一般資料</b>
    <app-basic-info></app-basic-info>
</div>

<div class="shadow-sm p-2 mb-3 bg-white rounded">
    <b>毛質資料</b> <br>
    <app-material-yarn-list></app-material-yarn-list>
</div>

<div class="shadow-sm p-2 mb-3 bg-white rounded">
    <b>款號資料</b> <br>
    <app-style-list></app-style-list>
</div>

<div class="shadow-sm p-2 mb-3 bg-white rounded">
    <b>組合資料</b> <br>
    <app-combo-order-matrix></app-combo-order-matrix>
</div>

<div class="shadow-sm p-2 mb-3 bg-white rounded">
    <b>尺碼清單</b>
    <app-size-list></app-size-list>
</div>

<div class="shadow-sm p-2 mb-3 bg-white rounded">
    <b>Max combo & order ID:</b><br>
    combo ID: {{this.currComboID}} <br>
    order ID: {{this.currOrderID}}
</div>

<div class="shadow-sm p-2 mb-3 bg-white rounded">
    <b>Alert Messaging</b> <br>
    <button class="btn btn-success m-1" (click)="alertService.success('Success!!', alertOptions)">Success</button>
    <button class="btn btn-danger m-1" (click)="alertService.error('Error :(', alertOptions)">Error</button>
    <button class="btn btn-info m-1" (click)="alertService.info('Some info....', alertOptions)">Info</button>
    <button class="btn btn-warning m-1" (click)="alertService.warn('Warning: ...', alertOptions)">Warn</button>
    <button class="btn btn-outline-dark m-1" (click)="alertService.clear()">Clear</button>
</div>

<div class="shadow-sm p-2 mb-3 bg-white rounded">
    <b>Combo Information:</b>
    <ul>
        <li *ngFor="let combo of combos; index as i">
            Combo index: {{ i }}
            id: {{combo.id}}
            code: {{combo.code}}
            chinese name: {{combo.chineseName}}
            english name: {{combo.englishName}}
        </li>
    </ul>
</div>

<div class="shadow-sm p-2 mb-3 bg-white rounded">
    <b>Order Information:</b>
    <ul>
        <li *ngFor="let order of colorOrders; index as i">
            Color Order index: {{ i }}
            id: {{order.id}}
            code: {{order.code}}
            name: {{order.name}}
            matType: {{order.matType}}
            isFtyMixed: {{order.isFtyMixed}}
        </li>
    </ul>
</div>

<div class="shadow-sm p-2 mb-3 bg-white rounded">
    <b>ComboOrderDetail Information:</b>
    <ul>
        <li *ngFor="let details of comboOrderDetails; index as i">
            ComboOrderDetail index: {{ i }}
            comboId: {{details.comboID}}
            orderId: {{details.orderID}}
            materialID: {{details.materialID}}
        </li>
    </ul>
</div>

