<h3>Yarn Order</h3>
<div class="shadow-sm p-2 mb-3 bg-white rounded">
    <b>一般資料</b>
    <app-style-head [(styleInfo)]="styleInfo"></app-style-head>
</div>

<div class="shadow-sm p-2 mb-3 bg-white rounded">
    <b>毛質資料</b> <br>
    <app-material-list></app-material-list>
</div>

<div class="shadow-sm p-2 mb-3 bg-white rounded">
    <b>組合資料</b> <br>
    <div class="container">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-2" *ngFor="let combo of combos; index as i">
            <div class="container">
                <div class="row">  
                    <div class="col-md-12">
                        <app-combo-head 
                        [combo]="combo"
                        [currIndex]=i
                        [maxIndex]=combos.length-1
                        (addCombo)="onAddCombo($event)"
                        (removeCombo)="onRemoveCombo($event)"
                        (moveComboLeft)="onComboMoveLeft($event)"
                        (moveComboRight)="onComboMoveRight($event)"></app-combo-head>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <app-combo-table 
                        [combo]="combo"
                        (comboUpdate)="onComboUpdate($event)"></app-combo-table>
                    </div>
                </div>
            </div> <!--Combo table end-->
        </div>
        <div class="col-md-2">
            <button mat-raised-button (click)="onPushCombo()">Add Combo</button>
        </div>
    </div> <!--Header Row End-->
    <div class="row" *ngFor="let order of orders; index as j">
    <!--Order Row-->
        <div class="col-md-2">
            <div class="container">
                <div class="row">                    
                    <app-order-head
                        [order]="order"
                        [currIndex]=j
                        [maxIndex]=orders.length-1
                        (addOrder)="onAddOrder($event)"
                        (removeOrder)="onRemoveOrder($event)"
                        (moveOrderUp)="onOrderMoveUp($event)"
                        (moveOrderDown)="onOrderMoveDown($event)">
                    </app-order-head>
                </div>
                <div class="row">
                    <app-order-table
                        [order]="order"
                        [nextRefID]="checkNextRefID(order.id)"
                        (changeFtyMixedMat)="onToggleMixedMat($event)"
                        (addFtyMixedMat)="onAddMatFtyOrder($event)">
                    </app-order-table>
                </div>
            </div>
        </div>
        <div class="col-md-2"  *ngFor="let combo of combos; index as k">
            <!--For Combo Order Mat objects-->
            <app-combo-order-details [comboOrderDetail]="getComboOrderDetail(combo.id,order.id)"></app-combo-order-details>
        </div>
    </div>
    <div class="row">
        <button (click)="onPushOrder()">Add Order</button>
    </div>
    </div> <!--Table End-->
</div>
<div class="shadow-sm p-3 mb-5 bg-white rounded">
    <b>尺碼清單</b>
    <app-size-list></app-size-list>
</div>

<div class="shadow-sm p-3 mb-5 bg-white rounded">
    <b>Max combo & order ID:</b><br>
    combo ID: {{this.currComboID}} <br>
    order ID: {{this.currOrderID}}
</div>

<div class="shadow-sm p-3 mb-5 bg-white rounded">
    <b>Combo Information:</b>
    <ul>
        <li *ngFor="let combo of combos; index as i">
            Combo index: {{ i }}
            id: {{combo.id}}
            code: {{combo.code}}
            chinese name: {{combo.chineseName}}
            english name: {{combo.englishName}}
        </li>
    </ul>
</div>

<div class="shadow-sm p-2 mb-3 bg-white rounded">
    <b>Order Information:</b>
    <ul>
        <li *ngFor="let order of orders; index as i">
            Order index: {{ i }}
            id: {{order.id}}
            code: {{order.code}}
            name: {{order.name}}
            matType: {{order.matType}}
            isFtyMixed: {{order.isFtyMixed}}
        </li>
    </ul>
</div>

<div class="shadow-sm p-2 mb-3 bg-white rounded">
    <b>ComboOrderDetail Information:</b>
    <ul>
        <li *ngFor="let details of comboOrderDetails; index as i">
            ComboOrderDetail index: {{ i }}
            comboId: {{details.comboID}}
            orderId: {{details.orderID}}
            materialID: {{details.materialID}}
        </li>
    </ul>
</div>