    <div class="col">
        <div class="container">
            <div class="row">
                <div class="col-xs-1 col-sm-1">{{index+1}})&nbsp;</div>
                <div class="col-xs-4 col-sm-4">Factory Style No:</div>
                <div class="col-xs-6 col-sm-6">{{style.factoryStyleNumber}}</div>
            </div>
            <div class="row">
                <div class="col col-sm-1"> &nbsp;</div>
                <div class="col-xs-4 col-sm-4">Calculation-Type ID:</div>
                <div class="col-xs-6 col-sm-6">{{styleName}}</div>
            </div>
            <div class="row">
                <div class="col">
                    <BUTTON (click)="onEditStyle()" class=sbttn>編輯</BUTTON>
                    &nbsp;
                    <BUTTON (click)="onRemoveStyle()" class=sbttn>刪除款號</BUTTON>
                </div>
            </div>
        </div>
    </div>