<!--Combo Table-->
<div class="container">
    <div class="row">
        中文名稱:
        <input type="text" 
        [ngClass]="{ 
                     'textColorName-warning' : combo.chineseName.length == 0,
                     'textColorName-normal' : combo.chineseName.length != 0
                    }"
        [(ngModel)]="combo.chineseName">
    </div>
    <div class="row">
        英文名稱:
        <input type="text" 
        [ngClass]="{ 
            'textColorName-warning' : combo.englishName.length == 0,
            'textColorName-normal' : combo.englishName.length != 0
           }"
        [(ngModel)]="combo.englishName">
    </div>
</div>