<div class="row">
    <div class="col-sm-1 col-lg-1" width=50>1<BUTTON class=sbttn name=DelMat>-</BUTTON>
        <INPUT maxLength=2 size=1 value=0 name=MainWoolQty_4></div>
    <div class="col-sm-4 col-lg-3">
       <INPUT class="AutoCompleteDropDown" maxLength=101 size=65 value="2/20 100% COMBED COTTON (BCI)" name=MatYarnName autocomplete="off">
       <DIV id=div_MATyarnname_1 class="AutoCompleteTextBox"></DIV>
    </div>
    <div class="col-sm-2 col-lg-2">
       <INPUT class="AutoCompleteDropDown" maxLength=30 size=30 value="NICE DYEING FACTORY LTD(永佳)" name=MatCompanyName autocomplete="off">
       <DIV id=div_MATCompanyname_1 class="AutoCompleteTextBox"></DIV>
       </div>
    <div class="col-sm-2 col-lg-1">
       <INPUT class="AutoCompleteDropDown" maxLength=30 size=15 value="RD 50112" name=MATArticle_1 autocomplete="off">
       <DIV id=div_MATArticle_1 class="AutoCompleteTextBox"></DIV>
    </div>
    <div class="col-sm-2 col-lg-1"><INPUT maxLength=25 name=MatRemark style="width:100%;" ><BR><FONT color=red size=1>*只顯示首14個字母</FONT></div>
    <div class="col-sm-3 col-lg-2">
       <TABLE>
          <TBODY>
             <TR>
                <TD>
                   <SELECT size=1 name=Wool_currency_1>
                      <OPTION value=BD36D847-6162-4EE8-89D4-A7849A1347F9>USD</OPTION>
                      <OPTION selected value=FC407F27-0B76-11D4-893D-009027E77BD5>HKD</OPTION>
                      <OPTION value=157D6881-74DE-455B-8F37-25E52FD2D7EE>RMB</OPTION>
                   </SELECT>
                   $<INPUT size=4 value=15.19 name=Wool_unitprice_1>
                </TD>
                <TD>/LBS<INPUT CHECKED type=radio value=C43224E2-96AA-4F80-AFE2-6FB6CF787E74 name=Wool_unit_1>/KG<INPUT type=radio value=5785DD5B-A61E-41A0-9E1B-C22FB4CF6803 name=Wool_unit_1></TD>
             </TR>
             <TR><TD><INPUT CHECKED type=checkbox value=1 name=Wool_final_price_1> Final Price</TD></TR>
          </TBODY>
       </TABLE>
       <!--
       <TABLE>
          <TBODY>
             <TR>
                <TH>R<BR>M<BR>B
                <TH>
                <TD><INPUT type=radio value=2 name=Wool_shipmode_1>包增值稅發票，包運費。<BR><INPUT type=radio value=5 name=Wool_shipmode_1>包增值稅發票，不包運費。<BR><INPUT type=radio value=6 name=Wool_shipmode_1>不包增值稅發票，包運費。<BR>
                <TD>
             <TR>
             <TR>
                <TH>H<BR>K<BR>D<BR>/<BR>U<BR>S<BR>D
                <TH>
                <TD><INPUT type=radio value=4 name=Wool_shipmode_1>經保稅區到廠，包進出口報關操作費及運費<BR><INPUT type=radio value=7 name=Wool_shipmode_1>經保稅區到廠，包進出口報關操作費,不包運費<BR><INPUT CHECKED type=radio value=8 name=Wool_shipmode_1>直送香港<BR><INPUT type=radio value=1 name=Wool_shipmode_1>直送香港 (空運)<BR>
                <TD>
             <TR>
             <TR>
                <TH>
                <TH>
                <TD><INPUT type=radio value=11 name=Wool_shipmode_1>CIF Cambodia by Sea<BR><INPUT type=radio value=12 name=Wool_shipmode_1>CIF Cambodia by Air<BR><INPUT type=radio value=13 name=Wool_shipmode_1>FOB China<BR><INPUT type=radio value=14 name=Wool_shipmode_1>FOB HK<BR><INPUT type=radio value=15 name=Wool_shipmode_1>直送柬埔寨廠, 包運費<BR><INPUT type=radio value=16 name=Wool_shipmode_1>直送柬埔寨廠, 不含運費<BR>
                <TD>
             <TR></TR>
          </TBODY>
       </TABLE>
       -->
       <TABLE>
          <TBODY>
             <TR>
                <TD></TD>
                <TD><BUTTON class=sbttn name=CopyMat>另一單價</BUTTON></TD>
             </TR>
          </TBODY>
       </TABLE>
    </div>
    <div class="col-sm-3 col-lg-1">
       <TABLE>
          <TBODY>
             <TR>
                <TD>
                   <SELECT size=1 name=Wool_buyer_currency_1>
                      <OPTION selected value=BD36D847-6162-4EE8-89D4-A7849A1347F9>USD</OPTION>
                      <OPTION value=FC407F27-0B76-11D4-893D-009027E77BD5>HKD</OPTION>
                      <OPTION value=157D6881-74DE-455B-8F37-25E52FD2D7EE>RMB</OPTION>
                   </SELECT>
                   $<INPUT size=4 value=0 name=Wool_buyer_unitprice_1>
                </TD>
                <TD>/LBS<INPUT CHECKED type=radio value=C43224E2-96AA-4F80-AFE2-6FB6CF787E74 name=Wool_buyer_unit_1>/KG<INPUT type=radio value=5785DD5B-A61E-41A0-9E1B-C22FB4CF6803 name=Wool_buyer_unit_1></TD>
                <TD><INPUT size=3 type=hidden value=3 name=Wool_buyer_condprice_1></TD>
             </TR>
          </TBODY>
       </TABLE>
    </div>
</div>