<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="row">
              <div class="col-xs-2 col-sm-2"> &nbsp; </div>
              <div class="col-xs-2 col-sm-2"> 廠款號: </div>
              <div class="col-xs-6 col-sm-6"> &nbsp; <input type="text" size=30 [(ngModel)]="styleInfo.factoryStyleNumber" name="factoryStyleNumber" ngDefaultControl /></div>
              <div class="col-xs-2 col-sm-2"> &nbsp; </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2 col-sm-2">色碼分類:</div>
        <div class="col-xs-10 col-sm-10">
            <mat-radio-group id="MatCalTypeGroup" aria-label="Select an option">
                <mat-radio-button
                *ngFor="let matCalItem of matCalItems; let i=index"
                (change)="onMaterialCalUpdate($event.value)"
                [value]="matCalItem.typeID"
                [checked]="(this.matCalType | async)==matCalItem.typeID">{{matCalItem.typeText}}</mat-radio-button>&nbsp;
            </mat-radio-group>
        </div>
    </div>
</div>