.AutoCompleteTextBox{
    BORDER-TOP: #000000 1px; 
    HEIGHT: 0px; 
    BORDER-RIGHT: #000000 1px; 
    WIDTH: 0px; 
    OVERFLOW-Y: auto; 
    BORDER-BOTTOM: #000000 1px; 
    POSITION: absolute; 
    LEFT: 0px; 
    BORDER-LEFT: #000000 1px; 
    Z-INDEX: 1; 
    TOP: 0px
}

.AutoCompleteDropDown{
    BORDER-TOP: 3px double; 
    BORDER-RIGHT: 3px double; 
    BORDER-BOTTOM: 3px double; 
    TEXT-ALIGN: left; 
    BORDER-LEFT: 3px double;
    width:100%;
}