<form class="AutoCompleteDropDown">
  <input #materialSelection type="text"
          placeholder="Search"
          aria-label="Number"
          matInput
          [formControl]="control"
          [matAutocomplete]="auto">
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)='onSelectMaterial($event.option.id)'>
    <mat-option *ngFor="let material of (filteredMaterials$ | async)" [value]="material.name" [id]="material.id">
      {{material.name}}
    </mat-option>
  </mat-autocomplete>
</form>